<!DOCTYPE html>
<html>
<head>
    <title>LCP Address location</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- Imports -->
    <link href="https://unpkg.com/maplibre-gl@1.14.0/dist/maplibre-gl.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/alasql/4.2.5/alasql.min.js" integrity="sha512-LuljkOQKcaogetQCtJCXiXK++nbzCQiXw7lOBBKCQk+yIRXjafpl8SFU0ogFOck13XbQ04TN/96pWNSvzSkTkg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> <!-- SQL editing on CSV -->
    <script src="https://cdn.jsdelivr.net/npm/ol@v7.4.0/dist/ol.js"></script> <!-- OpenLayers mapping API -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script> <!-- Leaflet mapping API -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script> <!-- Axios api -->
    <script src="https://npmcdn.com/@turf/turf/turf.min.js"></script> <!-- Turf JS for spatial analysis -->
    <script src="https://labs.os.uk/public/os-api-branding/v0.3.1/os-api-branding.js"></script>
    <script src="https://unpkg.com/maplibre-gl@1.14.0/dist/maplibre-gl.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.7.5/proj4.js"></script> <!-- Allows different projections. -->
    <script type="text/javascript" src="https://geographiclib.sourceforge.io/scripts/geographiclib-geodesic.min.js"></script> <!-- Geodesic calculations -->
    <script type="text/javascript" src="https://geographiclib.sourceforge.io/scripts/geographiclib-dms.min.js"></script>
    <script src="https://unpkg.com/konva@9/konva.min.js"></script> <!--WE WILL BE USING KONVA TO DRAW ON OUR MAP.-->

    <!-- this is needed for autocomplete -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/awesomplete/1.1.5/awesomplete.min.js"></script> -->
    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/awesomplete/1.1.2/awesomplete.min.css" rel="stylesheet"> -->

    <link rel="stylesheet" href="/stylesheets/layout.css">

    <!-- used to see the coordinates of a mouse move -->
    <link rel='stylesheet' href='https://unpkg.com/maplibre-gl@4.0.2/dist/maplibre-gl.css' />
    <script src='https://unpkg.com/maplibre-gl@4.0.2/dist/maplibre-gl.js'></script>
    <!-- used for selecting colour of polygons -->
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

    <!-- import 'amCharts 4' needed for populating polygons with labels-->
    <script src="//cdn.amcharts.com/lib/4/core.js"></script>
    <script src="//cdn.amcharts.com/lib/4/charts.js"></script>
    <script src="//cdn.amcharts.com/lib/4/maps.js"></script>
</head>
<!-- <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no"> -->
<!-- Map Layer options template. -->
<body>
  <!-- used to see coordinates of where the mouse is -->
  <style type="text/css">
    #info {
        display: block;
        position: absolute;
        top: 20px;
        left: 50%;
        transform: translate(-50%);
        width: 50%;
        padding: 10px;
        border: none;
        border-radius: 3px;
        font-size: 12px;
        text-align: center;
        color: #222;
        background: #fff;
    }
</style>

    <div id="map"></div>

    <!-- used to see coordinates of where the mouse is -->
    <pre id="info"></pre>

    <div class="map-overlay">
        <div id="mapSelect"></div>
        <div id="mapOverlay">
        
        <!-- Radio Buttons at the Top Representing Map Layer Choice -->
        <input id="Standard" type="radio" name="toggle" value="Standard" checked="checked">
        <label for="Standard">Standard</label>
        <input id="GOAD" type="radio" name="toggle" value="GOAD">
        <label for="GOAD">GOAD</label> 
        <input id="Satellite" type="radio" name="toggle" value="Satellite">
        <label for="Satellite">Satellite</label> <!-- Corrected here -->
        </div>

        <!-- The Sidebar Medu Box -->
    <div class="map-overlay-inner">
        <button id = "showFilter" type="button" class="collapsible"onclick="toggleCollapsible(event)">Filter By</button>
        <div class="sections" style = "display:none">

          <h2>Find:</h2>
          <!-- Address (search by) -->
          <p>Address:</p>
            <form id="the-form">
                <textarea id="address-text" placeholder="Enter addresses here, one per line..."></textarea>
                <input id="address-field" type="submit"> 
                <i id="spinner" class="c-inline-spinner"></i>
            </form>
          <!-- Property Reference (search by) -->
          <div class="row">
              <div class="left" >
                <p>Property Reference</p>
                <input type="text" id="mySearch" onkeyup="searchReferences()" placeholder="Type a number" title="Type in a category">
                <ul id="myMenu">
                </ul>
              </div>
          <div id="address-info"><!-- Address information will be displayed here --></div>
          <p>Demise Reference</p>
        
          <h2>Select:</h2>
          <p>Asset Manager</p>
          <input type="text" id="asset_manager_box" onkeyup="searchReferences_asset_managers()" placeholder="Type an Asset Manager">
                <ul id="myMenu_asset_manager">
                </ul> 
          <p>Group Name</p>
          <p>Demise Type</p>
          <p>Tenant Name</p>
          </div>
        </div>
        <!-- <div id="canvas-container" style="display: none;"></div> EMPTY DIV TO STOP THROWING ERRORS -->
        <button id = "showColour"  type="button" class="collapsible" onclick="toggleCollapsible(event)">Colour By</button>
        <div class="sections" style = "display:none">
          <h2>Select Color:</h2>
          <input type="color" id="colorPicker">
          <h2>By Attribute</h2>
          <select name="colour_by" id="colour_by">
            <option value="default_value">Default (no colour)</option>
            <option value="dmse_type">Demise Type</option>
            <option value="dmse_status">Demise Status</option>
            <option value="epc">EPC</option>
            <option value="passing_rent">Passing Rent</option>
          </select>
          <br><br>
          <div id="colourlegend"></div> <!--  Legend Container -->
        </div>

        <button id = "showPrint" type="button" class="collapsible"onclick="toggleCollapsible(event)">Print</button>
        <div class="sections" style = "display:none">
          <button class ="big-red-button" id="exportMap">Image Export</button>
          <h2>Drawing Tools</h2>
          <p>Arrow</p>
          <p>Text</p>
          <p>Legend</p>
          <h2>Bezel Content</h2>
          <p>MCore Logo</p>
          <p>Name of the Property</p>
          <p>Property Reference</p>
        </div>

        <button id = "showOther" type="button" class="collapsible"onclick="toggleCollapsible(event)">Dev Testing</button>
        <div class="sections" style = "display:none">
          <button id="testPensnett" class = "big-red-button">Test Pensnett</button> 
          <div id="areaDisplay">
            <p id="totalArea">Total Area: </p>
            <p id="internalArea">Internal Area: </p>
            <p id="externalArea">External Area: </p>
          </div>
          <h2>Drawing Mode</h2>
          <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
          </label>
          <button id="highlightFeatures" class = "big-red-button">Highlight Buildings</button>
          <div id="legend"></div>
        </div>   
                 
    </div>
    </div>
    </body>

    <!-- These scripts have to go here. Arises due to the pageload query -->
    <script src="/main.js"></script>
    <script defer src="/functions/searching.js"></script>
    <script defer src="/functions/selecting.js"></script>
    <script defer src="/functions/features.js"></script>
    <script defer src="/functions/functions.js"></script>
    <!-- <script defer src="../public/testingfiles/test.js"></script> -->
    <script defer src="/functions/drawing.js"></script>
    <script defer src="/functions/polygon_layer.js"></script>
    <script defer src="/functions/colouring_in_polygons.js"></script>
    <script defer src="/functions/callingEndpoints.js"></script>
</body>

</html>

