body {
            margin: 0;
            padding: 0;
        }
        /* Map fills screen */
        #map {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;
        }

        .map-overlay {
            font: 14px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
            position: absolute;
            padding: 25px;
            top: 20px; /* Move the overlay down by 20px */
            z-index: 1; /* Make the div appear above other elements */
        }

        .map-overlay-inner {
            background-color: #fff;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
            border-radius: 15px;
            padding: 10px 25px;
            max-width: 300px;

        }

        .map-overlay-inner div {
            display: block;
            margin-top: 8px;
        }

        .map-overlay-inner span {
            /* font-weight: 600; */
            margin-left: 15px;
        }

        .map-overlay-inner .message {
            color: #c00;
            display: none;
        }

        .radio-overlay {
            background-color: #fff;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
            border-radius: 4px;
            padding: 10px;
        }
        .radio-overlay label {
            margin-right: 12px;
        }
        .maplibregl-popup-content {
            font: 12.5px/18px 'Helvetica Neue', Arial, Helvetica, sans-serif;
            width: max-content;
            max-width: 260px;
        }
        #popup-nav a {
            margin: 0 4px;
            color: #000;
            text-decoration: none;
            float: right;
        }
        .big-red-button {
        background-color: red;
        color: white;
        font-size: 20px;
        padding: 10px 20px;
        }
/* This is mostly a joke styling. */
        .marquee-style {
            font-size: 2em;
            font-weight: bold;
            color: rgb(20, 20, 120)

        }
        /* Test for Marker Styling */
        .marker {
        background-image: url('js/genetic-data-svgrepo-com.svg');
        background-size: cover;
        width: 30px;
        height: 30px;
        border-radius: 30%;
        cursor: pointer;
    }

        @keyframes c-inline-spinner-kf {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }

        #spinner {
            visibility: hidden;
        }

        .c-inline-spinner,
        .c-inline-spinner:before {
            display: inline-block;
            width: 11px;
            height: 11px;
            transform-origin: 50%;
            border: 2px solid transparent;
            border-color: #74a8d0 #74a8d0 transparent transparent;
            border-radius: 50%;
            content: "";
            animation: linear c-inline-spinner-kf 900ms infinite;
            position: relative;
            vertical-align: inherit;
            line-height: inherit;
        }

        .c-inline-spinner {
            top: 3px;
            margin: 0 15px;
        }

        .c-inline-spinner:before {
            border-color: #74a8d0 #74a8d0 transparent transparent;
            position: absolute;
            left: -2px;
            top: -2px;
            border-style: solid;
        }

        table {
            width: 100%;
        }

        tr td:first-child {
            font-weight: 800;
            width: 30%;
            vertical-align: top;
        }

        /* thhe list elements. */
        .searchable {
            display: none;
        }
/* Map Layer Options */
        #mapOverlay {
            font: 14px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
            position: absolute;
            background: #fff;
            padding: 0px;
            top: 0px; /* Position from the top of the map */
    left: 30px; /* Position from the right of the map */
    
        }
        #mapOverlay input[type="radio"] {
            margin-top: -1px;
            vertical-align: middle;
        }
        #mapOverlay label {
            margin-right: 8px;
        }

        .collapsible {
            background-color: #6495ED;
            color: white;
            cursor: pointer;
            padding: 18px;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            font-size: 15px;
          }
          
          .active, .collapsible:hover {
            background-color: #0000FF;
          }
          
          .sections {
            padding: 0 18px;
            overflow: hidden;
            background-color: #f1f1f1;
            /* display: none; */
          }